.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__user {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media (max-width: 768px) {
  .checkout{
    flex-direction: column;
  }
  .checkout__left > img {
    display: none;
  }
  .checkout__text{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;

  }
  .checkout__user {   
    margin: 2px 2px 10px 2px;
    font-size: 13px;
    padding-right: 10px;
  }
  .checkout__title {
    margin: 2px 2px 10px 2px;
    font-size: 13px;
    padding-right: 10px;
  }
  
}
